@import "./variables";

.button-name {
  font-family: $primary-font;
  font-weight: 600;
  color: $white-color;
  background-color: $secundary-color;
  width: 150px;
  height: 30px;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  box-shadow: 3px 3px $grey-color-two;
  cursor: pointer;
}

.primary__button {
  @extend .button-name;
  margin: 1rem 1rem 1rem 0;
  display: inline-block;
  padding: 1rem;
  width: auto;
  height: auto;
}

.secondary__button {
  @extend .primary__button;
  background-color: $primary-color;
}

.none {
  display: none;
}

/*  Green Background*/
.green {
  background: #cdeb8e;
  background: -moz-linear-gradient(top, #cdeb8e 0%, #a5c956 100%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #cdeb8e),
    color-stop(100%, #a5c956)
  );
  background: -webkit-linear-gradient(top, #cdeb8e 0%, #a5c956 100%);
  background: -o-linear-gradient(top, #cdeb8e 0%, #a5c956 100%);
  background: -ms-linear-gradient(top, #cdeb8e 0%, #a5c956 100%);
  background: linear-gradient(top, #cdeb8e 0%, #a5c956 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeb8e', endColorstr='#a5c956',GradientType=0 );
}
/* Purple */
.purple {
  background: #b279ef; /* Old browsers */
  background: -moz-linear-gradient(top, #b279ef 0%, #9b49f3 44%, #7e0afa 100%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #b279ef),
    color-stop(44%, #9b49f3),
    color-stop(100%, #7e0afa)
  );
  background: -webkit-linear-gradient(
    top,
    #b279ef 0%,
    #9b49f3 44%,
    #7e0afa 100%
  );
  background: -o-linear-gradient(top, #b279ef 0%, #9b49f3 44%, #7e0afa 100%);
  background: -ms-linear-gradient(top, #b279ef 0%, #9b49f3 44%, #7e0afa 100%);
  background: linear-gradient(top, #b279ef 0%, #9b49f3 44%, #7e0afa 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7e0afa', endColorstr='#B279EF',GradientType=0 );
}

.light {
  display: block;
  position: relative;
  background: -moz-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.9) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0%, rgba(255, 255, 255, 0)),
    color-stop(50%, rgba(255, 255, 255, 0.9)),
    color-stop(100%, rgba(255, 255, 255, 0))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.9) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  background: -o-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.9) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  background: -ms-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.9) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  background: linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.9) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 );
  top: -16px;
  left: -53px;
  height: 0px;
}

.primary__button {
  &:hover {
    -webkit-box-shadow: rgba(0, 0, 0, 0.7) 0px 5px 15px,
      inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
    -khtml-box-shadow: rgba(0, 0, 0, 0.7) 0px 5px 15px,
      inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
    -moz-box-shadow: rgba(0, 0, 0, 0.7) 0px 5px 15px,
      inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
    -o-box-shadow: rgba(0, 0, 0, 0.7) 0px 5px 15px,
      inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
    box-shadow: rgba(0, 0, 0, 0.7) 0px 5px 15px,
      inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
  }
  &:active {
    -webkit-box-shadow: rgba(255, 255, 255, 0.25) 0px 1px 0px,
      inset rgba(255, 255, 255, 0.03) 0px 20px 0px,
      inset rgba(0, 0, 0, 0.15) 0px -20px 20px,
      inset rgba(255, 255, 255, 0.05) 0px 20px 20px;
    -khtml-box-shadow: rgba(255, 255, 255, 0.25) 0px 1px 0px,
      inset rgba(255, 255, 255, 0.03) 0px 20px 0px,
      inset rgba(0, 0, 0, 0.15) 0px -20px 20px,
      inset rgba(255, 255, 255, 0.05) 0px 20px 20px;
    -moz-box-shadow: rgba(255, 255, 255, 0.25) 0px 1px 0px,
      inset rgba(255, 255, 255, 0.03) 0px 20px 0px,
      inset rgba(0, 0, 0, 0.15) 0px -20px 20px,
      inset rgba(255, 255, 255, 0.05) 0px 20px 20px;
    -o-box-shadow: rgba(255, 255, 255, 0.25) 0px 1px 0px,
      inset rgba(255, 255, 255, 0.03) 0px 20px 0px,
      inset rgba(0, 0, 0, 0.15) 0px -20px 20px,
      inset rgba(255, 255, 255, 0.05) 0px 20px 20px;
    box-shadow: rgba(255, 255, 255, 0.25) 0px 1px 0px,
      inset rgba(255, 255, 255, 0.03) 0px 20px 0px,
      inset rgba(0, 0, 0, 0.15) 0px -20px 20px,
      inset rgba(255, 255, 255, 0.05) 0px 20px 20px;
    text-shadow: 1px 1px 1px #eee;
  }
}
.primary__button .light {
  display: block;
  position: relative;
  background: -moz-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.9) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0%, rgba(255, 255, 255, 0)),
    color-stop(50%, rgba(255, 255, 255, 0.9)),
    color-stop(100%, rgba(255, 255, 255, 0))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.9) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  background: -o-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.9) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  background: -ms-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.9) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  background: linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.9) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 );
  padding: 1px 9px;
  top: -16px;
  left: -53px;
  height: 0px;
}

/* .button {
  &:hover {
    .light {
      padding: 1px 5px;
      -webkit-animation-name: shine;
      -webkit-animation-duration: 0.6s;
      -webkit-animation-timing-function: linear;
      -khtml-animation-name: shine;
      -khtml-animation-duration: 0.6s;
      -khtml-animation-timing-function: linear;
      -moz-animation-name: shine;
      -moz-animation-duration: 0.6s;
      -moz-animation-timing-function: linear;
      -o-animation-name: shine;
      -o-animation-duration: 0.6s;
      -o-animation-timing-function: linear;
      -webkit-animation-name: shine;
      -webkit-animation-duration: 0.6s;
      -webkit-animation-timing-function: linear;
      left: 45px;
    }
  }
} */

/* @-keyframes shine {
  0% {
    top: -15px;
    left: -48px;
  }
  10% {
    top: -5px;
  }
  20% {
    top: 5px;
  }
  30% {
    top: 15px;
  }
  40% {
    top: 25px;
  }
  50% {
    top: 35px;
  }
  60% {
    top: 25px;
  }
  70% {
    top: 15px;
  }
  80% {
    top: 5px;
  }
  90% {
    top: -5px;
  }
  100% {
    top: -15px;
    left: 45px;
    -webkit-transform: rotate(-360deg);
  }
}

@keyframes shine {
  0% {
    top: -15px;
    left: -48px;
  }
  10% {
    top: -5px;
  }
  20% {
    top: 5px;
  }
  30% {
    top: 15px;
  }
  40% {
    top: 25px;
  }
  50% {
    top: 35px;
  }
  60% {
    top: 25px;
  }
  70% {
    top: 15px;
  }
  80% {
    top: 5px;
  }
  90% {
    top: -5px;
  }
  100% {
    top: -15px;
    left: 45px;
    -khtml-transform: rotate(-360deg);
  }
}

@-moz-keyframes shine {
  0% {
    top: -15px;
    left: -48px;
  }
  10% {
    top: -5px;
  }
  20% {
    top: 5px;
  }
  30% {
    top: 15px;
  }
  40% {
    top: 25px;
  }
  50% {
    top: 35px;
  }
  60% {
    top: 25px;
  }
  70% {
    top: 15px;
  }
  80% {
    top: 5px;
  }
  90% {
    top: -5px;
  }
  100% {
    top: -15px;
    left: 45px;
    -moz-transform: rotate(-360deg);
  }
}

@keyframes shine {
  0% {
    top: -15px;
    left: -48px;
  }
  10% {
    top: -5px;
  }
  20% {
    top: 5px;
  }
  30% {
    top: 15px;
  }
  40% {
    top: 25px;
  }
  50% {
    top: 35px;
  }
  60% {
    top: 25px;
  }
  70% {
    top: 15px;
  }
  80% {
    top: 5px;
  }
  90% {
    top: -5px;
  }
  100% {
    top: -15px;
    left: 45px;
    -o-transform: rotate(-360deg);
  }
}

@keyframes shine {
  0% {
    top: -15px;
    left: -48px;
  }
  10% {
    top: -5px;
  }
  20% {
    top: 5px;
  }
  30% {
    top: 15px;
  }
  40% {
    top: 25px;
  }
  50% {
    top: 35px;
  }
  60% {
    top: 25px;
  }
  70% {
    top: 15px;
  }
  80% {
    top: 5px;
  }
  90% {
    top: -5px;
  }
  100% {
    top: -15px;
    left: 45px;
    transform: rotate(-360deg);
  }
}
 */
