@import './variables';

.header__main {
  max-width: 1440px;
  height: 120px;
  margin: auto;
  display: grid;
  grid-template-columns: 2fr 300px;
  justify-items: center;
  align-items: center;
  box-shadow: 0px 5px $grey-color-two;
}

.header__login {
  max-width: 1440px;
  height: 120px;
  margin: auto;
  display: grid;
  justify-items: center;
  align-items: center;
  box-shadow: 0px 5px $grey-color-two;
}


.logo-name {
  display: flex;
  align-items: center;
  padding-left: 250px;
}

.logo-login {
  display: flex;
  align-items: center;
}


