@import "./variables";

.landing {
  max-width: 1440px;
  margin: auto;
  height: 770px;
  background-image: url("../images/fdo-principal.png");
  font-family: $primary-font;
  display: grid;
  grid-template-rows: 2fr 1fr 2fr;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  text-align: center;
  &__title {
    font-size: 25px;
    font-weight: 700;
    color: $white-color;
  }
  &__container {
    width: 900px;
    display: flex;
    justify-content: space-between;
  }
  &__btn {
    width: 250px;
    height: 250px;
    background-image: url("../images/One.png");
    background-repeat: no-repeat;
    border: none;
    box-shadow: inset -1px -1px 7px 7px $grey-color-two;
    font-size: 25px;
    font-weight: 700;
    font-family: $primary-font;
    border-radius: 50%;
    cursor: pointer;
  }
  &__btn1 {
    @extend .landing__btn;
    background-image: url("../images/Two.png");
  }
  &__btn2 {
    @extend .landing__btn;
    background-image: url("../images/Three.png");
  }
  &__btn:hover {
    background: rgba(181, 181, 181, 0.8);
  }
  &__submit {
    font-family: $primary-font;
    font-weight: 600;
    color: $white-color;
    background-color: $secundary-color;
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: none;
    font-size: 14px;
    box-shadow: 3px 3px $grey-color-two;
    cursor: pointer;
  }
}
