@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&family=Roboto:wght@300;400;700&family=Ubuntu:wght@400;500;700&display=swap');

/* COLORS VARIABLES */
$primary-color: #7E0AFA;
$primary-color-one: #4F0F94;
$primary-color-two: #511F87;
$secundary-color: #97CA3F;
$secundary-color-one: #B6CA67;
$secundary-color-two: #7C8A46;
$grey-color-one: #F6F6F6;
$grey-color-two: #B5B5B5;
$grey-color-three: #757575;
$black-color: #000000;
$white-color: #FFFFFF;
$color: rgba (black, 0.8);

/* FONTS */

$primary-font: 'Ubuntu', sans-serif;
$secundary-font: 'Open Sans', sans-serif;
$third-font:'Roboto', sans-serif;