@import './variables';
@import './title';
@import './header';
@import './buttonPrimary';
@import './footer';
@import './landing';
@import './login';
@import './register';
@import './profile.scss';

* {
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: $white-color;
}
