@import "./variables";
@import "./grid";
@import "./forms";
@import "./title";
@import "./header";
@import "./buttonPrimary";
@import "./footer";
@import "./landing";
@import "./login";
@import "./register";
@import "./profile.scss";
@import "./modal";
/* @import "../pages/Dashboard/dashboard.scss"; */

* {
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: $white-color;
  font-family: $primary-font;
}
